.maindiv {
  position: absolute;
  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);
  width: 70%;
  left: 50%;
  height: 10;
  align-items: center;
  justify-content: center;

  justify-content: space-around;
  top: 50%;
  position: fixed;
  padding: 20px;
  color: white;
  align-items: centerd;

  align-items: center;

  background-color: rgb(55, 100, 197);
  border: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgb(236, 191, 94);
}
.divofinput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 10px;
  outline: none;
  border: 2px;
  width: 60%;
  border-radius: 2px 2px;
}

.canceldownloadbut {
  position: relative;
  background-color: #c2185b;
  outline: none;
  border: 2px solid #ffffff00;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 2%;
  color: white;
  transform: scale(1);
  box-shadow: 1px 0px 10px 0px rgb(119 109 109 / 75%);
  animation: background-color ease-in-out cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  animation: transform ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.canceldownloadbut:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.downloadbut {
  position: relative;
  background-color: #388e3c;
  outline: none;
  border: 2px solid #ffffff00;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 2%;
  color: white;
  transform: scale(1);
  box-shadow: 1px 0px 10px 0px rgb(119 109 109 / 75%);
  animation: background-color ease-in-out cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  animation: transform ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.downloadbut:hover {
  background-color: #2a6c2e;
  transform: scale(1.01);
  cursor: pointer;
}
.downloadbut:active {
  background-color: rgb(248, 60, 27);
  cursor: pointer;
}
.select {
}
.maindiv {
  z-index: 999;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #512da8;
  border-radius: 20px;
  box-shadow: 10px 10px 100px 100px rgb(0 0 0 / 51%);
}
.select {
  outline: none;
  background-color: rgb(179, 81, 179);
  /* border: 2px; */
  color: whitesmoke;
  border-radius: 2px solid rgba(0, 0, 0, 0);
  /* box-shadow: 0px 0px 10px 0px rgb(133 140 134); */
  background-color: #3949ab;
  font-size: 1.01em;
  /* font-weight: 600; */
  border-radius: 10px;
}
.close {
  position: relative;
  /* left: 5%; */
  /* float: left; */
  /* width: 20px; */
  /* top: 100px; */
  background-color: #6a1b9a;
  border: none;
  color: white;
  border-radius: 50px;
  /* height: 50%; */
  width: 40px;
  transform: scale(1);
  animation: transform ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.close:active {
  transform: scale(1.1);
  cursor: pointer;
}
