.sidelist {
  position: absolute;
  border: none;
  border-radius: 10px;
  z-index: 2000;
  transform: translate(-50%, -50%);
  outline: none;
  margin: 2%;
  box-shadow: 1px 1px 5px #80808073;
  cursor: pointer;
  transform: scale(1);
  transition: transform step-end cubic-bezier(0.755, 0.05, 0.855, 0.06) 1s;
}
.sidelist:active {
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.46);
  transform: scale(1.1);
  cursor: pointer;
}

.sidelist:hover {
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.46);
  transform: scale(1.1);
  cursor: pointer;
}
.sidelist img {
  border: 2px solid rgba(0, 128, 0, 0);
  border-radius: 20px;
  color: aqua;
  background-color: rgb(0, 255, 55);
}
.listdiv1 {
  position: absolute;
  width: 0%;
  background-color: rgb(255 255 255);
  color: black;
  height: 100vh;
  z-index: 2000;
  animation: sidelistanm1 0.5s;
  animation-timing-function: ease-in-out;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 100px 2px black;
  animation-fill-mode: forwards;
  overflow-y: scroll;
}
.listdiv2 {
  position: absolute;
  width: 70%;
  background-color: rgb(255 255 255);
  height: 100vh;
  z-index: 2000;
  animation: sidelistanm2 0.5s;
  animation-timing-function: ease-in-out;
  overflow-y: scroll;
  animation-fill-mode: forwards;
}
.maindiv1 {
  position: absolute;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  filter: blur(3px);
}
.item {
  z-index: 1000;
  position: relative;
  background-color: #4527a0;
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0);
  box-shadow: 1px 1px 10px 1px rgb(158 204 248);
}
.title {
  background-color: #5e35b1;
  padding: 3%;
  border: 2px solid rgba(128, 128, 128, 0);
  /* border-radius: 5%; */
  margin-bottom: 10px;
}
.cancelbut {
  position: relative;
  background-color: #c2185b;
  outline: none;
  border: 2px solid #ffffff00;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 2%;
  color: white;
  transform: scale(1);
  box-shadow: 1px 0px 10px 0px rgb(119 109 109 / 75%);
  animation: background-color ease-in-out cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  animation: transform ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
.cancelbut:hover {
  transform: scale(1.01);
  cursor: pointer;
}
@keyframes sidelistanm1 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes sidelistanm2 {
  from {
    width: 70%;
  }
  to {
    width: 0%;
  }
}
@media only screen and (max-width: 475px) {
  .sidelist {
    margin: 0%;
  }
}
